/*
                sử dụng float  layout.

+ Link file css
+ cài opera :
Lấy màu cho hình trong inspect.

+Dùng paint:
Đo kích thước các phần.

+ độ ưu tiên (select < id < class)


+ Phân tích nội dung trang html
 -> 4 pần chính.
 chuột phải > folding > collapse all

 Đo kicích thước : resize -> pixel.

- Css kích thước chiều ngang cho container
- Căn giưữa cho container.
- Chiều cao cho section-normal & cả border cho nó.
- 2 thẻ alpha & omega
    float : left , right cho 2 cái , set lại padding-top
- social-button :
    float right.
- Thẻ htext-style
    float : left.
    & color cho nó.

 */
body {
    font-size: 12px;
    color: black;
    font-family: Tahoma, Arial, sans-serif ;
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;


}

/*#-----------id---------------*/
#section_normal_1 {
    height: 80px;
    border-bottom: 5px solid #d9d9d9;

}

#section_normal_1 .sixteen , .columns {
    padding-top : 18px;

}

#section_normal_1 .columns .alpha {
    float: left;

}
#section_normal_1 .columns .omega {
    float: right;

}
.omega .social_button {
    float : right;
    padding-left: 10px;



}
.omega .htext_style {
    float : left;
    padding: 10px;
    font-weight: 600;
    color:#adadad;
}
/*#section_normal_4_2 .pix_container {*/

/*    float: left;*/
/*}*/

/*#section_normal_4_2 .omega {*/
/*    float: right;*/
/*}*/

#section_normal_4_2 {
    background-color: #333333;
}



/*#section_normal_4_2 .omega {*/
/*    float : right;*/
/*}*/





/*-------------.class----------------*/